body {
    font-family: Open Sans, Helvetica, sans-serif;
}
#left {
    border-color: red;
}
#left .handle {
    background-color: red;
}
#right {
    border-color: orange;
    border-width: 5px;
    width: 20em;
}
#right .handle {
    background-color: orange;
}
#bottom {
    border-color: blue;
}
#bottom .handle {
    background-color: blue;
}
pre {
    margin-left: 3em;
}