</style>
 <link rel="stylesheet" href="https://rawgit.com/hawk-ip/jquery.tabSlideOut.js/master/jquery.tabSlideOut.css"> 
<style type="text/css">

body {
    font-family: Open Sans, Helvetica, sans-serif;
}
#left {
    border-color: red;
}
#left .handle {
    background-color: red;
}
#right {
    border-color: orange;
    border-width: 5px;
}
#right .handle {
    background-color: orange;
}
#bottom {
    border-color: blue;
}
#bottom .handle {
    background-color: blue;
}
pre {
    margin-left: 3em;
}